# Auto detect text files and perform LF normalization
* text=auto
GTFS/**/*.txt filter=lfs diff=lfs merge=lfs -text
GTFS/**/*.csv filter=lfs diff=lfs merge=lfs -text
GTFS/** filter=lfs diff=lfs merge=lfs -text
